<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>bit-Chess</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="css/homepage.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="lib/chessboardjs/css/chessboard-1.0.0.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
        <script src="lib/chessboardjs/js/chessboard-1.0.0.min.js"></script>  
        <script src="/socket.io/socket.io.js"></script>
        <script>
          const socket = io();
          //var socket = io({transports: ['websocket'], upgrade: false});
        </script>  

        <script src="/js/socketClient.js"></script>
       
    </head>

    <body style="background-color: #1f2029;">
        <style type="text/css">
            body { color: rgb(255, 255, 255) !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
         </style>



        <%- include('./header.ejs') %>
        <div class="col-md-9" style="display: block; margin:auto;">
            <div class="notification" style="padding-top: 20px;"></div>
            <div id="chessBoard" style="width:450px;padding-top:30px; margin:auto;"></div>
        </div>
        <div class="col-md-3" id=onlinePlayers-class style="display: block; margin:auto; padding-top:20px;">
            <h2 style="color: #ffeba7; text-align: center;">Online Players</h2>
            <ul class="list-group" id="onlinePlayers">
                <li class="list-group-item">
                </li>
            </ul>    
        </div>
        <i class="card-icon back-arrow bi bi-arrow-left" onclick="location.href='homepage'"></i>
        <div id="chessBoard" style="width:700px;padding-top:30px; margin:auto;"></div>
        <div id chat><%- include('./chat.ejs') %> </div>
        <%- include('./footer.ejs') %>
        <script src="/js/chessgame.js"></script>
    </body>
</html>