<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="css/footer.css" rel="stylesheet">
    </head>
    <body>
        <div class="footer-basic">
            <footer>
                <div class="social">
                    <a href="https://www.instagram.com/alex040602/">
                        <i class="bi bi-instagram" data-toggle="tooltip" data-placement="top" title="Alexander Lutz"></i>
                    </a>
                    <a href="https://www.instagram.com/tomisboxx/">
                        <i class="bi bi-instagram" data-toggle="tooltip" data-placement="top" title="Thomas Alpert"></i>
                    </a>
                    <a href="https://www.instagram.com/jonas.sch22/" data-toggle="tooltip" data-placement="top" title="Jonas Scherer">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="https://github.com/tomisboy/bitchess" data-toggle="tooltip" data-placement="top" title="bit-Chess">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="/homepage">Home</a></li>
                    <li class="list-inline-item"><a href="https://de.wikipedia.org/wiki/Schach">About Chess</a></li>
                    <li class="list-inline-item"><a href="https://www.dhbw-stuttgart.de/">DHBW Stuttgart</a></li>
                </ul>
                <p class="copyright">Team bit-Chess © 2022</p>
            </footer>
        </div>
    </body>
</html>