<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="css/header.css" rel="stylesheet">
    </head>
    <body>
        <div class="profilecontainer">
            <ul class="list-inline profile-list">
                <li class="list-inline-item">
                    <i class="profile-icon bi-person-circle" onclick="location.href='profile'" data-toggle="tooltip" data-placement="bottom" title="Profile">
                    </i>
                </li>
                <li class="list-inline-item">
                    <form action="/logout?_method=DELETE" method="POST">
                        <button class="logoutbtn">
                            <i class="profile-icon bi bi-box-arrow-right" onclick="location.href='homepage'" data-toggle="tooltip" data-placement="bottom" title="Logout">
                        </i>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
        <a class="logo">
            <img src="/img/bit-Chess.png" alt="bit-Chess Logo" onclick="">
        </a>
    </body>
</html>