<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF8">
        <title>bit-Chess</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
    </body>

</html>