<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF8">
        <title>bit-Chess</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="css/homepage.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body>
        <%- include('./header.ejs') %>
        <div>
            <i class="card-icon back-arrow bi bi-arrow-left" onclick="location.href='homepage'"></i>
        </div>
        <!--Creating Flex Grid-->
        <div class="flex-parent-element">
            <!--Creating Flex Grid Element-->
            <div class="flex-child-element">
                <!--Create new game card-->
                <div class="card-wrap">
                    <div class="card-wrapper">
                        <div class="card" onclick="location.href='joinpublic'">
                            <i class="card-icon bi bi-wifi"></i>
                            <div class="center-wrap">
                                <div class="section text-center">
                                    <h4 class="mb-4 pb-3">Join Public game</h4>
                                    <p class="mb-0 mt-4 text-center">Join a public game without a key</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Creating Flex Grid Element-->
            <div class="flex-child-element">
                <!--Join game card-->
                <div class="card-wrap">
                    <div class="card-wrapper">
                        <div class="card" onclick="location.href='joinprivate'">
                            <i class="card-icon bi bi-lock-fill"></i>
                            <div class="center-wrap">
                                <div class="section text-center">
                                    <h4 class="mb-4 pb-3">Join Private game</h4>
                                    <p class="mb-0 mt-4 text-center">Join a private game that requires a key</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./footer.ejs') %>
    </body>
</html>