.logoutbtn{
    background-color: transparent;
    border: 0px;
    box-shadow: 0px;
    color: #ffeba7;
  }
  .back-arrow{
    top: 20px;
    margin-left: 20px;
    cursor: pointer;
  }
  .profilecontainer {
    position: relative;
  }
  .profile-list {
    position: absolute;
    top: -35px;
    margin-right: 20px;
    right: -80px;
    height: 48px;
    font-size: 40px;
    color: #ffeba7;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
    cursor: pointer;
  }
  .profile-icon:hover, .back-arrow:hover {
    text-shadow: 0 0 15px rgba(255,235,167, 0.6);
    transform: scale(1.02);
    cursor: pointer;
  }
  .logo img {
    display: block;
      height: 60px;
      width: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
  }
  .username{
    font-size: 15px;
    vertical-align: middle;
  }